{% extends 'base.html' %}
{% block css %}
    <style>
        ul, li{
            list-style: none;
        }
        li{
            float: left;
            margin: 5px;
        }
        .price {
            text-decoration: line-through;
            color: lightgray;
        }

        .vip_price{
            color: blue;
        }
    </style>
{% endblock %}
{% block content %}

    <h3>{{ active.title }}</h3>
    <p>
        <img src="/m/{{ active.img1 }}" width="100%" height="100px">
    </p>
    
    <ul>
        {% for activegoods in active.activies.all %}
            <li>
                <dl>
                    <dt>
                        <img src="/m/{{ activegoods.goods.img1 }}">
                    </dt>
                    <dd>
                        {{  activegoods.goods.short_title }}
                    </dd>
                    <dd>

                        ￥：
                        <span class="vip_price">{{  activegoods.rate_price }}</span>
                        <span class="price">{{  activegoods.goods.price }}</span>

                    </dd>
                    <dd>
                        <button class="btn btn-danger" onclick="qbuy(this, '{{ activegoods.goods.id }}')">抢购</button>
                    </dd>
                </dl>
            </li>
        {% endfor %}
        
    </ul>
    
{% endblock %}

{% block js %}
    <script>
        var cId = 0;
        function qbuy(btn, goods_id) {
            fetch('/active/qbuy/'+goods_id+"/")
                .then(resp=>resp.json())
                .then(data=>{
                    if(data.code == 100){
                        if(confirm('当前用户未登录，是否进入登录页面')){
                            open('/user/login/', target='_self');
                        }
                        return
                    }

                 $(btn).text(data.msg);
                 if(data.code == 201){
                     cId = setInterval(function () {

                         fetch('/active/query_qbuy/'+goods_id+"/")
                             .then(resp=>resp.json())
                             .then(data=>{
                                 $(btn).text(data.msg);
                                 if(data.code != 201){
                                     clearInterval(cId);
                                 }
                             })

                     }, 1000);
                 }
            })
        }

    </script>

{% endblock %}